@import 'variables.scss';

.nav{
    width: 100vw;
    height: 7vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: $white;
    font-size: 2.5vh;
    p{
        margin: 2vh 0 3vw 2vh;
        font-size: 3vh;
    }
    ul{
        margin-right: 2vw;

        li{
            display: inline-block;
            margin: 1vh 1vw;
            padding: 1vh 2vw;
           
           a{ 
               padding-bottom: 0.5vh;
               text-decoration: none;
            color: #000;
           }
        }
    }

    #menu{
        display: none;
    }
}

.active{
    border-bottom: 3px $lightBlue solid;
    border-radius: 1vh;
}

.newMenu{
    background-color: $white;
    height: 100vh;
    width: 30vw;
    font-size: 2.5vh;
    position: absolute;
    top: 7vh;
    right: 0;
    z-index: 1;
    opacity: 0.9;
ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;


    li{
      margin-top: 2vh;
        a{
            text-decoration: none;
            color: #000;
            
        }
    }
}
}

footer{
    color: $white;
    position: absolute;
    bottom: 0;
    left: 0;

    span{
        font-size: 2vh;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px){
    .nav{

        ul{
            display: none;
        }

        #menu{
            display: block;
            height: 4vh;
            margin: 2vh 2vw;
        }
    }

    .newMenu{
        ul{
            display: block;
        }
    }
}