@import 'variables.scss';

.nav{
    width: 100vw;
    height: 7vh;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: $white;
    font-size: 2.5vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    p{
        margin: 2vh 0 3vw 2vh;
        
        a{
            text-decoration: none;
        color: #000;
    }
}

    ul{
        margin-right: 2vw;

        li{
            display: inline-block;
            margin: 1vh 1vw;
            padding: 1vh 2vw;
           
           a{ text-decoration: none;
            color: #000;
           }
        }
    }
}