@import './variables.scss';

.home{
    color: $white;
    text-align: center;
    font-size: 6vh;
    width: 70vw;
    position: absolute;
    top: 25vh;
    left: 15vw;
p{
   #name{
       color: $lightBlue;
    }

    #dev{
        color: $pink;
    }
}
.links{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-top: 5vw;
    margin-left: 15vw;

    img{
    width: 5vw;
    transition: 2.5s ease ;
    }

    img:hover{
        transform: rotateY(360deg);
    }
}
}