@import 'variables.scss';

.works{
    
    margin-top: 5vh;

    p{
        color: $white;
        font-size: 6vh;
        text-align: center;
       
    }

    .data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5vh 15vw;

        img{
            width: 13vw;
            height: 13vh;
            border-radius: 1vh;
        }

        .info{
            p{
                font-size: 5vh;

                span{
                    font-size: 3vh;
                }

                a{
                    font-size: 3vh;
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
}